.profile {
    width: 300px;
    height: 300px;
}

.list-group-item, #sections {
    background-color: #c5dcb3;
    border-radius: 0;
  }

.navbar, .navbar * {
    background-color: #ffffff;
}
.navbar {
    border: 1px solid #000000;
}

/* reduce the top padding of the first section to avoid extra space */
section:not(section section):first-child {
    padding-top: 50px;
  }

section:not(section section):nth-of-type(odd) {
    background-color: #f6f7f6;
}


section ul ::marker {
    content: ">  ";
    color: #043f83;
}
section ul ul ::marker {
    content: ">>  ";
}

section li > p {
    position: relative;
    border-bottom: 1px solid #48b2;
    cursor: default;
    transition: color 0.4s;
    margin-bottom: 7px;
}

.list-group-item-action.active{
    background-color: #77a753;
    border-color: #77a753;
}

.list-group-item-action:hover{
    background-color: #ffffff;
    color: #000000;
}


section h2 {
    text-align: left;
    color:#222; font-size:25px; font-weight:400;
    /* text-transform: uppercase; */
    word-spacing: 1px; letter-spacing:1px;
    text-decoration: underline;
    text-underline-offset: 4px;
}