## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}


</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top flex-column">
    <div class="container">
      <a class="navbar-brand" href="#home">Pritam Dey</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-controls="navbarNav sections" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse multi-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
        <a class="nav-link" href="#cv">CV</a>
        </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 position-fixed collapse multi-collapse px-0 vh-100 overflow-auto" id="sections">
        <ul id="sections-list" class="list-group">
        <%block name="section_links"> </%block>
        </ul>
    </div>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#sections-list" data-bs-smooth-scroll="true" tabindex="0">
  <%block name="content"> </%block>
  </div>
  </div>
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10 align-center">
  ${footer.html_footer()}
  </div>
  </div>
    ${body_end}
    ${template_hooks['body_end']()}
    ${base.late_load_js()}
    <!-- fancy dates -->
    <script>
    // moment.locale("${momentjs_locales[lang]}");
    fancydates(${date_fanciness}, ${js_date_format});
    </script>
    <!-- end fancy dates -->
    <%block name="extra_js"></%block>

</body>
</html>
