@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
@plugin "daisyui";

@theme {
  --font-poiret: 'Poiret One', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-pacifico: 'Pacifico', cursive;
}

@plugin "daisyui/theme" {
  name: "mylight";
  default: false;
  prefersdark: false;
  --thm-col-base: #FBF8F3;
  --thm-col-primary: rgb(165 106 5);
  --thm-col-secondary: oklch(from var(--thm-col-primary) l calc(c + 0.03) calc(h + 90));
  --thm-col-accent: #F06C7E;
  --thm-col-neutral: rgb(63 122 250);
  color-scheme: "light";
  --color-base-100: var(--thm-col-base);
  --color-base-200: oklch(from var(--thm-col-base) calc(l - 0.02) calc(c + 0.02) h);
  --color-base-300: oklch(from var(--thm-col-base) calc(l - 0.07) calc(c + 0.04) h);
  --color-base-content: oklch(from var(--thm-col-base) calc(1 - l) calc(c + 0.02) h);
  --color-primary: var(--thm-col-primary);
  --color-primary-content: oklch(from var(--thm-col-primary) calc(1 - l) calc(c + 0.02) h);
  --color-secondary: var(--thm-col-secondary);
  --color-secondary-content: oklch(from var(--thm-col-secondary) calc(1 - l) c h);
  --color-accent: var(--thm-col-accent);
  --color-accent-content: oklch(from var(--thm-col-accent) calc(1 - l) c h);
  --color-neutral: var(--thm-col-neutral);
  --color-neutral-content: oklch(from var(--thm-col-neutral) calc(1 - l) c h);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "mydark";
  default: false;
  prefersdark: true;
  --thm-col-base: #1d232a;
  --thm-col-primary: rgb(85 224 255);
  --thm-col-secondary: oklch(from var(--thm-col-primary) l calc(c + 0.03) calc(h + 90));
  --thm-col-accent: #FF6E81;
  --thm-col-neutral: rgb(250 179 47);
  color-scheme: "dark";
  --color-base-100: var(--thm-col-base);
  --color-base-200: oklch(from var(--thm-col-base) calc(l + 0.05) calc(c + 0.02) h);
  --color-base-300: oklch(from var(--thm-col-base) calc(l - 0.2) calc(c + 0.04) h);
  --color-base-content: oklch(from var(--thm-col-base) 0.97 calc(c + 0.02) h);
  --color-primary: var(--thm-col-primary);
  --color-primary-content: oklch(from var(--thm-col-primary) calc(1 - l) calc(c + 0.02) h);
  --color-secondary: var(--thm-col-secondary);
  --color-secondary-content: oklch(from var(--thm-col-secondary) calc(1 - l) calc(c + 0.02) h);
  --color-accent: var(--thm-col-accent);
  --color-accent-content: oklch(from var(--thm-col-accent) calc(1 - l) c h);
  --color-neutral: var(--thm-col-neutral);
  --color-neutral-content: oklch(from var(--thm-col-neutral) calc(1 - l) c h);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

section > h2 {
  @apply lg:text-7xl md:text-6xl text-5xl flex flex-col justify-start w-fit;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section > h2::after {
  @apply border-b border-primary max-w-[95vw] mt-4 ml-1;
  content: "";
  width: var(--header-underline-width, 50%);
}

@layer base {
  :root {
    --timeline-col-start: 30%;
  }
}

.grid-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, var(--color-base-300) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-base-300) 1px, transparent 1px);
  background-size: 50px 50px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}

.card-corner-borders {
  position: relative;
}

.card-corner-borders::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 2px solid var(--color-primary);
  border-left: 2px solid var(--color-primary);
  border-radius: var(--radius-lg) 0 0 0;
}

.card-corner-borders::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  border-radius: 0 0 var(--radius-lg) 0;
}





/* .name {
  border-bottom: 2px solid var(--color-accent);
} */

/* ---------- Shadcn UI Theme Variables ---------- */
/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */